<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <div class="display-4">
                <a routerLink="/">Shopping App</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-right ml-auto">
                <ul class="nav nav-tabs" style="border: 0px">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/mycart">
                            <i class="fa fa-shopping-cart"></i> My Cart
                            <span class="badge badge-primary badge-pill">{{this.cs.getCartLength()}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products"> <i class="fa fa-file-text"></i> Browse Products</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="ls.getLoginStatus()">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-o"></i> 
                            Admin
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/manage">
                                <i class="fa fa-dashboard"></i> Manage
                            </a>
                            <a class="dropdown-item" routerLink="/new">
                                <i class="fa fa-plus"></i> Create New Product
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars"></i> 
                                Session
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" routerLink="/login" *ngIf="!ls.getLoginStatus()">
                                    <i class="fa fa-user"></i> Login
                                </a>
                                <a class="dropdown-item" routerLink="/signup" *ngIf="!ls.getLoginStatus()">
                                    <i class="fa fa-user-plus"></i> SignUp
                                </a>
                                <a class="dropdown-item" (click)="logoutUser()" *ngIf="ls.getLoginStatus()">
                                    <i class="fa fa-user-times"></i> Sign Out
                                </a>
                            </div>
                        </li>
                </ul>

            </div>
        </div>
    </div>
</div>