<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                Cart Items
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered text-center">
                    <tr>
                        <th>Remove</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                    <tr *ngFor="let item of cartItems; let i = index">
                        <td>
                            <i class="fa fa-trash text-danger" (click)="removeFromCart(i)" title="Remove from Cart"></i>
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.price | currency:'INR':"symbol"}}</td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="item.quantity" min="0">
                        </td>
                        <td>{{item.price * item.quantity | currency:'INR':"symbol"}}</td>
                    </tr>
                    <tr *ngIf="cartItems.length == 0">
                        <td colspan="5">
                            <i class="fa fa-shopping-cart"></i> No item(s) in the cart,
                            <a routerLink="/products">Start Shopping</a>
                        </td>
                    </tr>
                    <tr *ngIf="cartItems.length > 0">
                        <th colspan="4">Total</th>
                        <th>{{this.cs.cartValue() | currency:'INR':"symbol"}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>