/* You can add global styles to this file, and also import other style files */
@import url('assets/css/font-awesome.min.css');
@import url('assets/css/bootstrap.min.css');
a{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}